*{
    user-select: none;
}
input{
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 8px;
    grid-column: 1/-1;
}
button{
    border: none;
    outline: none;
}
.container{
    width: 400px;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    border: solid 2px #000;
    margin: 4% auto;
}
.item{
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    padding: 5px;
}